package={name='checkerboard',version='0.0.0',edition='2021'}
[dependencies]
bytemuck='*'
fehler='*'
num={git='https://github.com/Matthias-Fauconneau/num'}
vector={git='https://github.com/Matthias-Fauconneau/vector',features=['unstable']}#norm
nalgebra='*'
image={git='https://github.com/Matthias-Fauconneau/image'}
cameleon={version='*', features=['libusb']}
uvc={package='uvc-sys', version='*'}
ui={git='https://github.com/Matthias-Fauconneau/ui', default-features=false, features=['text','softbuffer']}
