package={name='checkerboard',version='0.0.0',edition='2021'}
[dependencies]
fehler='*'
num={git='https://github.com/Matthias-Fauconneau/num'}
vector={git='https://github.com/Matthias-Fauconneau/vector'}
image={git='https://github.com/Matthias-Fauconneau/image'}
imagers={package='image',version='*',default-features=false,features=['png']}
ui={git='https://github.com/Matthias-Fauconneau/ui', features=['softbuffer']}
#checkerboard='*' #{package='checkerboard-rs',version='*'}