package={name='checkerboard',version='0.0.0',edition='2021'}
[dependencies]
fehler='*'
num={git='https://github.com/Matthias-Fauconneau/num'}
vector={git='https://github.com/Matthias-Fauconneau/vector',features=['unstable']}#norm
image={git='https://github.com/Matthias-Fauconneau/image'}
imagers={package='image',version='*',default-features=false,features=['png']}
ui={git='https://github.com/Matthias-Fauconneau/ui', default-features=false, features=['softbuffer']}
#[patch.crates-io]
#rustix={git='https://github.com/bytecodealliance/rustix'}
#[patch.'https://github.com/Matthias-Fauconneau/ui']
#ui={path='../ui'}
